.q-choropleth-legend-container {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.q-choropleth-legend-value-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.q-choropleth-legend {
  height: 32px;

  &-bucket {
    fill: currentColor;
  }
}

.q-choropleth-single-value-bucket {
  width: 8px;
  height: 32px;
}
